<h3>BlacklightData Demo</h3>

<p>&nbsp;</p>
<h4>Data files</h4>
<p>To see all the Data files you have uploaded to the site click... <%= link_to 'Data files', data_files_path %>
<p>&nbsp;</p>
<h4>Datasets</h4>
<p>Datasets can be created from Data files. To manage the site Dataset(s) click... <%= link_to 'Dataset', datasets_path %>
<p>&nbsp;</p>
<h4>Blacklight field configuration</h4>
<p>Blacklight field configuration can be used to change which fields are displayed and used within the interface. Click... <%= link_to 'Blacklight configurations', blacklight_configurations_path %>
